*{
    padding:0;
    margin:0;
}

.menu{
    display: flex;
    flex-direction:column;
}
#textmain{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}
.info{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 10;
}
.info{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 10;
    justify-content: center;
    align-items: center;
}

#aboutme{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
}
#aboutme2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
}
#aboutme3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
}
#aboutme4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
}
.logo{
    display: flex;
    margin-top: 20px;
}
#pr{
    width:70px;
    height:70px;
    padding: 10px;
}
.ig{
    display: flex;
    margin-top: 20px;
}
.face{
    display: flex;
}
#iglogo{
    width: 70px;
    height: 70px;
    padding: 10px;
}
#facelogo{
    width: 70px;
    height: 70px;
    padding: 10px;
}
.info2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 10;
    margin-top: 10px;
}
* {
border: 0;
box-sizing: border-box;
margin: 0;
padding: 0;
}
body, input {
font: 80px/1.5 sans-serif;
}
body, input[type=checkbox]:before {
background-image:
    linear-gradient(90deg,#3a3d46 2px,#3a3d4600 2px),
    linear-gradient(#3a3d46 2px,#2e3138 2px);
background-repeat: repeat;
background-size: 0.75em 0.375em;
}
body {
background-position: 50% calc(50% + 0.2em);
display: grid;
place-items: center;
height: 100vh;
}

#box {
    position: absolute;
    left: 0;
    bottom: -.1em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: .25em solid whitesmoke;
    border-radius: 15%;
    transform: translate(0, -1em) rotate(-45deg);
    animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
p{
    color:#FFF;
    font: 50px 'Press Start 2P',  cursive;
    margin:200px 139px;
    position:absolute;
    text-align:center;
}
.gim{
    margin-left: -900px;
    margin-bottom: 70px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.pacman{
    margin:40px 10px;
}

.pacman-top{
    background-color:yellow;
    height:50px;
    width:100px;
    border-radius:100px 100px 0 0;
    animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
    background-color:yellow;
    height:50px;
    width:100px;
    border-radius:0 0 100px 100px;
    animation: spin2 0.5s infinite linear;
}

.feed {
margin-top: -130px;
margin-left:15px;
width: 25px;
height: 25px;
border-radius: 30%;
-moz-animation: eat 1s linear 0s infinite;
-webkit-animation: eat 1s linear 0s infinite;
animation: eat 1s linear 0s infinite;
}   

/* Animation*/

@keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
}
@keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
}
@-moz-keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
      0%  {transform: rotate(0deg);}
      50%{transform: rotate(-35deg);}
    
}
@-webkit-keyframes spin2 {
      0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}	
}

@keyframes eat {
      0% { box-shadow: 
        100px 65px 0 0 white, 
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white,
        900px 65px 0 0 white, 
        1100px 65px 0 0 white, 
        1300px 65px 0 0 white;}
    
  100% { box-shadow: 
        0px 65px 0 0 white, 
        100px 65px 0 0 white,
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white, 
        900px 65px 0 0 white, 
        1100px 65px 0 0 white;}
}



@-moz-keyframes eat {
      0% { box-shadow: 
        100px 65px 0 0 white, 
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white,
        900px 65px 0 0 white, 
        1100px 65px 0 0 white, 
        1300px 65px 0 0 white;}
    
  100% { box-shadow: 
        0px 65px 0 0 white, 
        100px 65px 0 0 white,
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white, 
        900px 65px 0 0 white, 
        1100px 65px 0 0 white;}
}



@-webkit-keyframes eat {
      0% { box-shadow: 
        100px 65px 0 0 white, 
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white,
        900px 65px 0 0 white, 
        1100px 65px 0 0 white, 
        1300px 65px 0 0 white;}
    
  100% { box-shadow: 
        0px 65px 0 0 white, 
        100px 65px 0 0 white,
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white, 
        900px 65px 0 0 white, 
        1100px 65px 0 0 white;}
}


@keyframes push {
    0% {
      transform: translate(0, -1em) rotate(-45deg);
    }
    5% {
      transform: translate(0, -1em) rotate(-50deg);
    }
    20% {
      transform: translate(1em, -2em) rotate(47deg);
    }
    25% {
      transform: translate(1em, -2em) rotate(45deg);
    }
    30% {
      transform: translate(1em, -2em) rotate(40deg);
    }
    45% {
      transform: translate(2em, -3em) rotate(137deg);
    }
    50% {
      transform: translate(2em, -3em) rotate(135deg);
    }
    55% {
      transform: translate(2em, -3em) rotate(130deg);
    }
    70% {
      transform: translate(3em, -4em) rotate(217deg);
    }
    75% {
      transform: translate(3em, -4em) rotate(220deg);
    }
    100% {
      transform: translate(0, -1em) rotate(-225deg);
    }
}
.pendulum{ 
    width: 220px;
    height: 180px;
    background-color: #f8c6cf;
    border-radius: 5%;
    align-items: center;
    border-top: 15px solid #eee7d5;
    margin-top: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }
.pendulum_box{
    display: flex;
    padding: 120px 0 0 10px;
    position: absolute;
    flex: 1;
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #455681;
    position: relative;
    transform-origin: 50% -300%;
    
}
.ball::before{
    content: '';
    width: 2px;
    height: 120px;
    background-color: #fffeff;
    left: 18px;
    top: -120px;
    position: absolute;
    }
.ball.first{
    animation: firstball .9s alternate ease-in infinite;
}

@keyframes firstball{
    0%{
    transform: rotate(35deg);
    }
    50%{
    transform: rotate(0deg);
    }
}

.ball.last{
    animation: lastball .9s alternate ease-out infinite;
}

@keyframes lastball{
    50%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(-35deg);
    }
}
.loop-wrapper {
    margin: 0 auto;
    margin-top: -100px;
    position: relative;
    display: block;
    width: 460px;
    height: 250px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
  }
  .mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow: 
      0 0 0 50px #4DB6AC,
      60px 50px 0 70px #4DB6AC,
      90px 90px 0 50px #4DB6AC,
      250px 250px 0 50px #4DB6AC,
      290px 320px 0 50px #4DB6AC,
      320px 400px 0 50px #4DB6AC
      ;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
  }
  .hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow: 
      0 0 0 50px #4DB6AC,
      -20px 0 0 20px #4DB6AC,
      -90px 0 0 50px #4DB6AC,
      250px 0 0 50px #4DB6AC,
      290px 0 0 50px #4DB6AC,
      620px 0 0 50px #4DB6AC;
    animation: hill 4s 2s linear infinite;
  }
  .tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px; 
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  }
  .rock {
    margin-top: -17%;
    height: 2%; 
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #ddd;
  }
  .truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #eee;
  }
  .truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
  }
  .truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
      -30px 28px 0 1.5px #fff,
       -35px 18px 0 1.5px #fff;
  }
  .wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
  }
  
  .tree  { animation: tree 3s 0.000s linear infinite; }
  .tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
  .tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
  .rock  { animation: rock 4s   -0.530s linear infinite; }
  .truck  { animation: truck 4s   0.080s ease infinite; }
  .wheels  { animation: truck 4s   0.001s ease infinite; }
  .truck:before { animation: wind 1.5s   0.000s ease infinite; }
  
  
  @keyframes tree {
    0%   { transform: translate(1350px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree2 {
    0%   { transform: translate(650px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree3 {
    0%   { transform: translate(2750px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  
  @keyframes rock {
    0%   { right: -200px; }
    100% { right: 2000px; }
  }
  @keyframes truck {
    0%   { }
    6%   { transform: translateY(0px); }
    7%   { transform: translateY(-6px); }
    9%   { transform: translateY(0px); }
    10%   { transform: translateY(-1px); }
    11%   { transform: translateY(0px); }
    100%   { }
  }
  @keyframes wind {
    0%   {  }
    50%   { transform: translateY(3px) }
    100%   { }
  }
  @keyframes mtn {
    100% {
      transform: translateX(-2000px) rotate(130deg);
    }
  }
  @keyframes hill {
    100% {
      transform: translateX(-2000px);
    }
  }
  
@media(max-width:450px){
    #textmain{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        margin-top: 10px;
        text-align: center;
        font-size: 30px;
    }
    .info{
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 10;
    }
    #aboutme{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        background-color: white;
        border-radius: 20px;
    }
    #aboutme2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        background-color: white;
        border-radius: 20px;
    }
    .gim{
        margin-left: -200px;
        margin-bottom: 30px;
    }
    .pacman-top{
        background-color:yellow;
        height:20px;
        width:40px;
        border-radius:100px 100px 0 0;
        animation: spin1 0.5s infinite linear;
    }
    
    .pacman-bottom{
        background-color:yellow;
        height:20px;
        width:40px;
        border-radius:0 0 100px 100px;
        animation: spin2 0.5s infinite linear;
    }
    
    .feed {
    margin-top: -90px;
    margin-left:15px;
    width: 10px;
    height: 10px;
    border-radius: 30%;
    -moz-animation: eat 1s linear 0s infinite;
    -webkit-animation: eat 1s linear 0s infinite;
    animation: eat 1s linear 0s infinite;
    }   
    #aboutme3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 55px;
        padding-right: 55px;
        padding-bottom: 10px;
        background-color: white;
        border-radius: 20px;
    }
    #aboutme4{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        background-color: white;
        border-radius: 20px;
    }
    .logo{
        display: flex;
        margin-top: 20px;
    }
    #pr{
        width:40px;
        height:40px;
        padding: 5px;
    }
    #iglogo{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    #facelogo{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    .info2{
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 8px;
        font-weight: 10;
        justify-content: center;
        align-items: center;
    }
    .gimball{
        margin-left: 3px;
    }
    .pendulum{ 
        width: 150px;
        height: 120px;
        background-color: #f8c6cf;
        border-radius: 5%;
        align-items: center;
        border-top: 10px solid #eee7d5;
        position: relative; /* เพิ่มเพื่อให้เส้นขอบทับสายเพนดูลัม */
        margin-top: 20px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        }
    .pendulum_box{
        display: flex;
        padding: 80px 0 0 0px;
        position:absolute; /* เปลี่ยนจาก absolute เป็น relative เพื่อให้ตำแหน่งอยู่ในกรอบ pendulum */
        flex: 1;
    }
    .ball{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #455681;
        position: relative;
        transform-origin: 50% -250%;
        
    }
    .ball::before{
        content: '';
        width: 2px;
        height: 80px;
        background-color: #fffeff;
        left: 50%;
        transform: translateX(-50%);
        top: -80px;
        position: absolute;
        }
    .ball.first{
        animation: firstball .9s alternate ease-in infinite;
    }
    
    @keyframes firstball{
        0%{
        transform: rotate(35deg);
        }
        50%{
        transform: rotate(0deg);
        }
    }
    
    .ball.last{
        animation: lastball .9s alternate ease-out infinite;
    }
    
    @keyframes lastball{
        50%{
        transform: rotate(0deg);
        }
        100%{
        transform: rotate(-35deg);
        }
    }
    
}    

